[2022-05-01 03:25] richardfrost commented on #397
@ahkelly thanks for testing it! Could you try changing it from deep to normal and see if it's the same results? I'm hoping with this new build that deep shouldn't be needed, but I'm still experimenting.

[2022-05-01 04:36] ahkelly commented on #397
Sorry, I didn't mention that previously. I did already try that and only mode that works (with subtitle filtering) is Deep mode, Normal mode does no filtering at all (subtitle or audio). As both extensions (current release and this pre-release) show the same version I removed the release build to ensure I am using only this pre-release version fyi.

[2022-05-01 05:52] richardfrost commented on #397
Okay, thanks for clarifying that. could you possibly share an other screenshot of the developer tools elements tab? Just want to make sure I'm not missing anything. I set that up with the JS path you shared, but maybe I made a mistake on it. If its possible to show the full hierarchy in a screenshot that might help.

I will work on getting a new build that has some debug logging that will hopefull

[2022-05-01 15:32] ahkelly commented on #397
Here is a better screenshot of the elements all the way up to main outer element. It is is 2 screenshots

![elements-01](https://user-images.githubusercontent.com/7065207/166152940-d4e4b03d-12de-4ddc-bf96-82e5f7d70edb.png)

![elements-02](https://user-images.githubusercontent.com/7065207/166152953-51e8035e-da00-4c03-bb31-0d858f807ae9.png)

Also I may have misled you a little on the element path as

[2022-05-01 22:23] Commonman7 opened #405 "Muting for Hidive"
Is there any way to add Hidive for audio muting

[2022-05-02 02:27] richardfrost commented on #405
Here are the details I found:

[code]

Could you give this config a try? To test this, you can copy-paste the following code to the "Custom Sites" area found in the extensions Option's page > Audio tab. After pasting it in there, click the blue "Save" button, and then refresh/open a new tab to the video site and give it a try. If it works, I'll go ahead and add it to the official list of supported

[2022-05-02 17:39] richardfrost commented on #335
Wow.. I'm sorry @shwayzee0, I got wrapped up in other things and completely forgot about this one. If you're still around and would like to help troubleshoot or help with this, please let me know. If not, that's fine too. Again, I'm sorry that this fell through the cracks for so long.

[2022-05-03 03:05] Lhickox1 commented on #403
I can confirm that it works on chrome. I did not test if it works with live tv, but it works for on demand. However, it is not an option for safari, because sling won’t stream on safari with current iOS 15. It will only play through the app on apple devices.

[2022-05-03 03:20] Commonman7 commented on #405
I've tested it out and it seems to be working. If I run into any issues,
I'll let you know.

Thanks for all you are doing

On Sun, May 1, 2022 at 10:27 PM Richard Frost ***@***.***>
wrote:

[2022-05-03 04:00] richardfrost commented on #403
Thanks for confirming @Lhickox1.  I will get it added to the next version of the extension.

I'm sorry that it doesn't work in iOS Safari though. Unfortunately there isn't much that I can do about it if the service doesn't work in Safari though.

[2022-05-03 04:03] richardfrost commented on #405
Thanks @Commonman7 for reporting back! Let me know if you notice any issues with it.

I'll get it added to the next version of the extension.

[2022-05-04 02:19] Lhickox1 commented on #402
I found the subtitles. After opening the link in iframe embed in another window, because its the only way for me to inspect it farther, I found it in the network under eng-2.vtt.
![7CF2F4F1-CFA4-4C9F-9AC2-5C10C71F2B47](https://user-images.githubusercontent.com/104122226/166614945-02378cf7-acbd-4712-886c-8616129d1e67.png)
![37F5EF8E-1248-4E5F-9C9C-C7278F5EDBB5](https://user-images.githubusercontent

[2022-05-04 02:44] richardfrost commented on #402
Thanks for getting it further. I'll try to take a look and let you know, but Its still in the realm of possibility to get it to work in Safari, so don't despair, hopefully we can get it!

[2022-05-04 16:09] richardfrost commented on #402
@Lhickox1 How are you getting the developer tools/inspector on your iPad? I've typically connected it to a Mac running Safari, but unfortunately this site has a defense mechanism that won't allow me to inspect things.

[2022-05-04 19:29] Lhickox1 commented on #402
This safari extension app.
![4E451E6C-35F9-4481-906B-9B4084D24403](https://user-images.githubusercontent.com/104122226/166811353-feaeeac3-2fb0-48ed-bd09-81ad8204f3b0.png)
Its by far the best free option I have found.

[2022-05-05 06:35] richardfrost commented on #397
Here is a new build with some fixes, but its still a very early release and subject to change: [extension-mv3.zip](https://github.com/richardfrost/AdvancedProfanityFilter/files/8629085/extension-mv3.zip).

Aside from a couple bugs that I found in this, I realized I was missing a piece of information for the config. I need to know where the `<video>` element is. Below I'm just guessing that it coul

[2022-05-05 22:57] ahkelly commented on #397
Awesome, thanks for the follow up. So I can report little change

1. Words are still filtered only when I select Deep mode (Normal mode filters nothing)
2. Audio mute is still not working

It looks to me like the video tag is inside `<smp-playback>` element. See screenshot below

![video-element](https://user-images.githubusercontent.com/7065207/167039508-08a597dd-cb3c-4c6f-953f-f13ef9fe6b1f.PNG)

[2022-05-05 23:14] richardfrost commented on #397
Awesome, can you give this a try (without deep mode enabled):

[code]

[2022-05-05 23:24] ahkelly commented on #397
That nailed it!!

Word filtering and audio muting is now working again on the new bbc iplayer, using Normal mode!

I read an article on how long they have been working on this new player (bbc) so hopefully no changes anytime soon.

![working-setting-1](https://user-images.githubusercontent.com/7065207/167042512-1e4b8411-122e-4ba0-b72c-9c7fea4edeb0.png)

![working-setting-2](https://user-images.git

[2022-05-09 16:03] richardfrost commented on #397
[Version 1.35.0](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.35.0) has been released and should include the config for this now. Once you get the update, can you comment on how it works for you @ahkelly @101w2in? Thanks!

Also, @ahkelly you shouldn't need to have the config in your "Custom sites" (if you had it anywhere but your test build of the extension).

[2022-05-09 21:56] richardfrost commented on #405
This was added in [Version 2.34.1](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.34.1). Thanks again for the suggestion @Commonman7.

[2022-05-09 21:56] #405 closed

[2022-05-10 03:06] Lhickox1 commented on #402
I have finally got the filter to halfway work on the site.

{
  "rapid-cloud.ru": {
    "mode": "cue",
    "videoCueLanguage": ""
  }
}

This will filter the subtitles, but it will not mute the audio.

[2022-05-10 22:25] richardfrost commented on #402
WOW! Good work @Lhickox1! I'm sorry I've been so unresponsive on this issue. I've been really busy with a few other things, but you did great work with this! Do you have any questions, or anything outstanding on it?

[2022-05-10 23:22] Lhickox1 commented on #402
I have no more questions on this matter. However, I am curious to know how you got the config to look like that in my comments?

[2022-05-10 23:32] richardfrost commented on #402
It's a feature of [Markdown](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax), specifically used for [formatting code](https://docs.github.com/en/get-started/writing-on-github/getting-started-with-writing-and-formatting-on-github/basic-writing-and-formatting-syntax#quoting-code). To use it, you can o

[2022-05-11 03:18] Lhickox1 commented on #400
This config works for me in chrome.
[code]

[2022-05-11 03:55] ahkelly commented on #397
Hi @richardfrost I have just tested 2.35.0 in Chrome and can confirm it indeed works 100% as expected on the new BBC iplayer with word filtering and audio muting with default unmodified extension install. I also removed the test build before installing this new extension.

Thanks again for all your hard work!

[2022-05-11 04:10] #402 closed

[2022-05-11 04:14] richardfrost commented on #400
@Lhickox1 Thanks for sharing a config that works for you here. I have a hard time getting into Stan (no account, and I'm based in the US), so I really appreciate the help. Could you try this config @renae37 and see how it works for you? I'm happy to update the internal config if they have made changes.

As @Lhickox1 points out, unfortunately the timing may not be perfect, and is really dependent o

[2022-05-11 04:16] richardfrost commented on #397
That's excellent news it works without any customizations too! Thanks @ahkelly so much for reporting back, and all the legwork you did on this one. You definitely made things much easier on me to get this working.  I really wanted to avoid requiring Deep mode, so I'm glad it worked.

[2022-05-11 04:16] #397 closed

[2022-05-11 04:42] #403 closed

[2022-05-11 14:58] Lhickox1 commented on #400
This one works on safari.

[code]
You can also change mute time with this one.

[2022-05-12 13:57] richardfrost commented on #400
@Lhickox1 thanks for sharing that config as well!

I have a few questions:
- Does that work on the same video? Just wanting to confirm that the browser makes the difference and not the video that has different captions/subtitles.
- Did you test on iOS Safari, or the desktop (macOS), or both?

[2022-05-13 01:46] Lhickox1 commented on #400
Yes, it works on the same video. The same videos I tested with the chrome config I also used to test the iOS config. There is a difference between how the browsers display captions/subtitles. It could be that the captions/subtitles display differently between mobile and desktop browsers?

I tested it exclusively on iOS safari, not macOS. I dont know which config would work for maciOS.

[2022-05-13 02:12] richardfrost commented on #400
Thanks for the update @Lhickox1! I'm working on introducing different audio site config based on the target browser/device, so this will probably be the first config to use that. Thanks again!

[2022-05-13 04:34] richardfrost commented on #400
How confident are you @Lhickox1 with the `videoCueSync` timing? Does it seem pretty universal, or just on a movie or two? Just trying to decide if I should include it in the official config or not. Thanks!

[2022-05-13 15:27] nunyabeeswax7 opened #408 "Audio not working on Hulu"
Exactly what it says.
I'm watching an episode of Haunted History. It's on Hawaii. It doesn't mute the p word, the one that rhymes with miss. Time stamp: 4:06 to 4:10 or something like that.
The subtitles are on and the word is filtered just not muted.

[2022-05-14 02:23] Lhickox1 commented on #400
I went back and tested a few more movies and tv shows. It works with them as well. I just adjusted the sync timing in order to block bad words at the beginning of the caption/subtitles line, because it was not doing so before. The sync adjustment from my testing has not effected the muting of bad word at the middle or end of the captions/subtitles line. I dont know if other devices will act differ

[2022-05-15 18:20] richardfrost commented on #408
Thanks for sharing those details, I'm sorry it's not working for you. I'll check it out and get back to you in the next couple days.

[2022-05-17 01:48] richardfrost commented on #408
Interesting. Does Hulu offer a way to record videos? Something like a DVR feature? Sorry, I'm not very familiar with the service. Or did you mean something else?

If you can see the caption text in the developer tools (right click on the page and choose "inspect") then it should be possible for the filter to support them, if you're interested.

If you are interested, I can try to take a look at it

[2022-05-17 01:54] nunyabeeswax7 commented on #408
Yes, like a DVR.

[2022-05-17 09:31] Lisoph opened #409 "Shuffled Substitutions"
New user here. Perhaps this is already possible, please let me know.

#### :loudspeaker: The Shortcoming

I'm using the substitution mode in online forums. The substituted words are so rarely used by people in natural conversations, that I'm able to deduce the original, censored words, thanks to their similarities. This effectively nullifies the effect of substitution mode: the profanities are rem

[2022-05-17 17:48] richardfrost commented on #409
Welcome @Lisoph, glad to have you here! A long time ago I had allowed users to have multiple words to substitute, but went away from it because it (obviously) led to different results each page load that wasn't liked by most of the users. Today it is 1-1, or really a true "substitution".

I agree with you that if we added something like this it should be opt-in, and could be implemented as another

[2022-05-18 00:42] richardfrost commented on #408
Does the filter current work on live tv @nunyabeeswax7, but not when recorded? I've only ever personally tested it with their streaming content.

[2022-05-18 00:50] nunyabeeswax7 commented on #408
I don't know.

[2022-05-19 08:24] Lisoph commented on #409
Thanks @richardfrost for the quick and thorough reply!

I was thinking one big pool, but I can see it work both ways. Perhaps a combination - a per-word replacement list with a global pool fallback? The big pool is of course more straightforward to implement and way easier to manage.

I'm thinking about implementing a proof of concept, just to get a feel for how this would work. I'm not familiar w

[2022-05-20 19:34] richardfrost commented on #400
I included the config found by @Lhickox1 to the filter now. Can you confirm if its working for you @renae37?

I decided to leave off the `videoCueSync` timing adjustments since it could be different for certain videos or even vary by hardware.

Let me know if you have any other questions on this. Thanks!

[2022-05-21 21:29] richardfrost commented on #409
@Lisoph One big pool would definitely be easier, but we could probably expand on it if needed and make it per-word.

The [default words are found here](https://github.com/richardfrost/AdvancedProfanityFilter/blob/master/src/script/lib/config.ts#L51), if that's what you're looking for. If you wanted to test things out in the extension, its pretty easy to [develop locally](https://github.com/richard

[2022-05-22 02:11] mungbean4 opened #411 "Can't get to work on Amazon Prime"
Are Amazon Prime movies/shows supported? This works wonderfully on YouTube but I can't get it to work at all on Amazon Prime :(

[2022-05-22 03:13] richardfrost commented on #411
@mungbean4 I'm sorry its not work for you on Amazon Prime. Could you share some details about your situation?

- Device (Phone, Tablet, Mac, Laptop, Desktop, etc.)
- Browser
- Country
- Link to a video you've tried to use the filter with

It should support Amazon Prime videos, so hopefully we can get it working for you.

[2022-05-23 21:29] taeuscherpferd commented on #338
Dude you're like my hero! I have loved having your extension on my desktop, and came here looking to see if I could port it to iOS, only to find that you had already finished it! Just bought the app a few days ago and have been very happy with the results. The only downside that I can see is that it doesn't seem to work while videos are in full-screen mode, but I'd imagine that it would be tough t

[2022-05-23 22:51] mungbean4 commented on #411
Hi Richard,

Thanks so much for following up. I uninstalled and then reinstalled and
added the alternate config for Amazon and it fixed it! Thanks again, have
been looking for something like this for years!

Cheers!

On Sat, May 21, 2022 at 10:13 PM Richard Frost ***@***.***>
wrote:

[2022-05-24 05:30] richardfrost commented on #338
@taeuscherpferd Thanks for the kind words! I'm so glad you are liking it. If you haven't had a chance, I definitely appreciate reviews on the store you downloaded it from 😉.

As for full-screen videos, are you talking about full-screen in Safari, or in another app? If its in Safari, it may be possible to help them work if they aren't now. If it is playing in Safari, could you give me an example an

[2022-05-24 05:30] #338 closed

[2022-05-24 06:07] richardfrost commented on #411
I'm so glad its working for you now! I've been trying to track down exactly when that alternate config is needed.. Could you share which country you are watching from, and what Device and OS/Browser you are using?

[2022-05-24 15:45] mungbean4 commented on #411
Sure, I'm using a Lenovo Ideapad laptop in the USA with the Chrome browser!

On Tue, May 24, 2022 at 1:07 AM Richard Frost ***@***.***>
wrote:

[2022-05-24 15:46] richardfrost commented on #411
Interesting, thanks for the info! Are you running Windows as well?

[2022-05-24 16:15] mungbean4 commented on #411
Yes, I am, Windows 11.

On Tue, May 24, 2022 at 10:46 AM Richard Frost ***@***.***>
wrote:

[2022-05-25 04:33] taeuscherpferd commented on #338
Done!

As far as the full screen mode filtering goes, yes I have been using Safari, but it seems as though it uses a different system than the in browser video player once you go full screen. It seems like it's built a bit deeper into the OS to allow things like Picture in Picture mode. Here's a screenshot of my settings just in case I've configured something wrong, and here's a screenshot of wher

[2022-05-25 18:55] richardfrost commented on #400
I'm going to go ahead on close this now. If you do have more in put on this @renae37 feel free to respond here, or open a new issue. Thanks for your help @Lhickox1!

[2022-05-25 18:55] #400 closed

[2022-05-26 22:32] renae37 commented on #400
Sorry for the long delay in response, been very busy with uni! I have tried the updated version, it works on the captions I have found but I am still unsure as to whether or not it works on muting the audio because I did hear some words get through  but  then there were some instances where I did thought I did not hear the profanity being spoken but I wasn’t sure if that was just because the perso

[2022-05-27 15:48] mcmjlm opened #412 "Filter for Media Player within Chrome Browser"
I want to filter videos within the Chrome browser that doesn't use a website to play the video.. is there a way to do this?

[2022-05-27 16:39] richardfrost commented on #412
Hi @mcmjlm,

Are you trying to do something similar to #399? If so, that solution may work for you. Let me know if you have any other questions.

[2022-05-29 19:03] mcmjlm commented on #412
no, not exactly. I'm trying to play movie files on my computer through google chrome so i can get the filtering on them.. am i going the wrong way to get this done?

[2022-05-29 19:34] richardfrost commented on #412
So how are you playing the video? Just dragging it into a Chrome tab?

[2022-05-30 19:57] Lhickox1 commented on #400
Could you tell me the device you are watching it on and which config you are using?

[2022-06-04 06:39] UserNamed0 opened #414 "APF Bookmarklet not working on mobile."
#### :bug: Description
APF Bookmarklet not working on mobile Chrome browser.

#### :twisted_rightwards_arrows: Steps To Reproduce
1. Go to any website
2. Tap on address bar
3. Type and select APF
4. No changes to the website

#### :heavy_check_mark: Expected behavior
Websites to be filtered.

#### 📱: Details
 - **Device:** [Samsung Galaxy J3 2017 (SM-J330F)]
 - **OS:** [Android 9]
 - **Browser:**

[2022-06-07 04:25] richardfrost commented on #414
I'm sorry it isn't working for you. If you are trying your own bookmarklet, could you try using the one with the default config? I just tested it and it does seem to be working fine following the steps that you mentioned above. It would be helpful to know if it's an issue with the custom/personal version of the bookmarklet or the default one.

Since you are on Android, I would definitely recommend

[2022-06-07 05:20] UserNamed0 commented on #414
I've tried using the bookmarklet with default config and it works, which means that something is wrong with my custom one but I don't know what could it be. I've also tried Firefox Android but it only allows me to install recommended add-ons and APF is not on the list.

[2022-06-07 05:52] richardfrost commented on #414
For your personal bookmarklet, I'm betting it has to do with how it is hosted. Which hosting option did you choose? Also, if you could send me a link to the file you are hosting I would be happy to take a quick look at it.

For Firefox, its unfortunate that they removed the ability to install extensions that aren't recommended, but if you [follow the instructions here](https://github.com/richardfr

[2022-06-07 06:26] UserNamed0 commented on #414
I chose Google Drive, here is the link: https://drive.google.com/file/d/1E1t_tQbDtNTNfv9ifHTorpMSXFTiSF59/view?usp=sharing

That is what I did when trying on Firefox but still doesn't let me, it keeps saying that it's not compatible with Android.

[2022-06-07 16:39] richardfrost commented on #414
It looks like Google Drive has changed the way their file hosting is working, and is now blocking the file from being downloadable for the bookmarklet. To fix it, can you try removing the `.js` from the file name in Google Drive and see if that works? If so, I'll make sure to update the instructions.

[2022-06-07 22:39] UserNamed0 commented on #414
That is not working either, I've even tried hosting a new file.

[2022-06-07 23:28] richardfrost commented on #414
Did your new file have a file extension (`.js`)? Do you have a link to your new file you can share? Does it work on a desktop browser (you might need to temporarily disable the APF extension to see)?

Also, if you're still interested in Firefox Mobile (nightly), it does seem to still work. Did you go through the instructions above about creating the collection on AMO?

[2022-06-08 00:03] UserNamed0 commented on #414
Yes, but I removed it. I've tried with the file extension and without it. I tested it on desktop and it doesn't work. Here is the new link: https://drive.google.com/file/d/1BhKzufsOj7R4X9h0hWZMdc6fWPtyXPCX/view?usp=sharing

I went through all the instructions in Firefox Nightly, enabled general extension support through the debug menu, created a new collection on AMO and added APF in it, but when

[2022-06-09 04:28] richardfrost commented on #414
I'm sorry that the Firefox one isn't working. I'll try to test that out again from scratch later on, but maybe something changed so only an existing setup can work since I did it months ago. If  you would like, there is still Kiwi that you could try, or any other chromium-based browser for Android that supports extensions.

As for the bookmarklet, when I modify the link you shared to the one that

[2022-06-09 07:01] UserNamed0 commented on #414
It won't let me remove the ".js", not even from properties. The file extension is hidden and it's not allowing me to edit it. How can I do it?
![1](https://user-images.githubusercontent.com/106859188/172785069-5f41fc46-4672-4040-b553-8a4c2891972e.jpg)

[2022-06-09 20:50] richardfrost commented on #414
Yeah, Windows may hide the extension by default. You should be able to edit the extension if you follow [these instructions](https://knowledge.autodesk.com/search-result/caas/sfdcarticles/sfdcarticles/How-to-enable-hidden-file-extensions-in-Windows.html).

[2022-06-10 01:11] UserNamed0 commented on #414
I am sorry, I was tired and I forgot I could do that.

It works when I upload the bookmarklet to Google Drive without the file extension, but somehow it turns into the default config bookmarklet when I use it and I didn't upload that one.

[2022-06-13 02:52] UserNamed0 commented on #414
I don't want to keep taking up your time. I sincerely apologize for any inconvenience and thank you so much for creating this tool to help me stay more safe while browsing. I have been using it for around two years and I always wanted to thank you, now I have the opportunity.

I will try Kiwi browser in case there isn't any way to fix custom config bookmarklets not working, or at least for me. If

[2022-06-14 03:39] richardfrost commented on #414
Its no trouble at all. I am here to help and its one of my goals to make this project as useful as possible. The Bookmarklet is a feature that isn't used a lot, but I do want to have it work, so I appreciate you bringing this issue to my attention. I'm so glad you have been a long time user, and hope you'll continue in the future!

As for Kiwi, I've used it quite a bit and it seems to work really

[2022-06-14 04:33] #414 closed

[2022-06-14 05:58] richardfrost commented on #414
[Version 2.36.2](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.36.2) has now been uploaded, and should hopefully be available soon. Once you've gotten the update, please try it again (remembering to remove the `.js` from the file name before uploading it to Google Drive) and let me know how it works for you.

[2022-06-14 10:00] UserNamed0 commented on #414
I updated it and now it's working perfectly, thank you so much for your time and help.

Best regards.

[2022-06-14 14:16] richardfrost commented on #414
You're very welcome @UserNamed0! Thanks for reporting the issue and for your patience in getting it fixed. Take care!

[2022-06-18 20:45] richardfrost commented on #400
@renae37 Could you share what an example video where this is happening for you? And possible a time as well? The filter only works based on the captions/subtitles, so if it is working correctly, if there is a phrase that includes a filtered word the audio will be completely muted while that phrase is present. It will not be able to typically filter just a single word, so based on what you describe

[2022-06-20 06:44] NewToAPF opened #415 "Please add hoopladigital.com to you list of supported sites"
_Instructions: This template is written in Markdown. Click the "Preview" tab to see what it will look like when submitted. Fill in the applicable sections (you can erase the examples if you'd like)._

#### :loudspeaker: The Shortcoming
hoopladigital.com is a site supported by local libraries. It almost seems like I mentioned this site to you sometime in the past. However, if I did, I can't find an

[2022-06-20 07:27] renae37 commented on #400
Thank you for the reply. The movie I was using with the filter was World War Z on Stan. The captions did actually filter out the bad words but the audio did not work. This was all throughout the movie that the audio did not work as I do not recall every hearing whole phrases muted.
Thanks.
Renae

[2022-06-21 18:48] richardfrost commented on #415
Thanks for the request @NewToAPF. Unfortunately I don't have access to this site, so I won't be able to directly add support for it. If you can help gather some information for me by following [this guide](https://github.com/richardfrost/AdvancedProfanityFilter/wiki/Audio-Muting:-Adding-a-Custom-Site) I'd be happy to try and add support for it. Let me know if you have any questions or need help.

[2022-06-26 18:06] richardfrost opened #416 "Possible Improvements for other Languages"
1. In my native language there are cases where it can matter when at the beginning or in a word a letter is a capital letter or not, however right now in APF there is only an option for the replacements to make it case sensitive. So I wonder if an option could be added to set a filter where the extension searches for "dogHouse" but not "doghouse"?

2. Also in case of grammar my native language is

[2022-06-26 18:08] richardfrost opened #417 "Syncing Options for iOS"
First just these days there was again the WWDC and even though I am not a developer I enjoy watching some of the videos every years since it still is interesting to me when they explain some basic technologies. I noticed that there is a session where they explain new things for Safari extension coming with the iOS and macOS updates later this year, maybe this could be of interest to you, they also

[2022-06-27 14:30] hendrikbez opened #418 "Disney+"
Good day
Why does disney+ not working to take out the cursewords

[2022-06-27 18:46] richardfrost commented on #418
Hi @hendrikbez,

Could you share some more details about what isn't working for you, and your situation?

- What country are you accessing from?
- What type of device are you using?
- What browser are you using?
- Is the muting working on other sites?
- Did you make sure the captions/subtitles are turned on?

I hope we can get to the bottom of this issue soon.

[2022-06-28 02:31] tbeag commented on #323
I still can't seem to figure it out. I have been trying for some days and can't get the filter to work on AppleTV. Is there anyway to get a tutorial of every step from the beginning or something? I know it's a pain, but it would help me a lot.

[2022-06-28 02:39] richardfrost commented on #323
I'm sorry you've had so much trouble with it @tbeag.

You should just need to make sure audio muting is on:

![image](https://user-images.githubusercontent.com/1507205/176079842-797e46a6-ee8d-4699-b509-a8915639722e.png)

And then enable "Deep" mode while on [tv.apple.com](https://tv.apple.com):

![image](https://user-images.githubusercontent.com/1507205/176079961-f9104aba-14fa-4075-b08a-200f78914a

[2022-07-06 09:24] PetrusV83 opened #419 "Disney+ Censors Subtitles, Does Not Mute Audio"
_Instructions: This template is written in Markdown. Click the "Preview" tab to see what it will look like when submitted. Fill in the applicable sections (you can erase the examples if you'd like)._

#### :bug: Description
Currently the latest version seems to censor the words in the subtitles, however the audio still plays (not muted). Note that in my country the URL for Disney+ is "www.apps.dis

[2022-07-06 15:18] richardfrost commented on #419
Thanks for including all those details. Could you share which country/region you are trying to watch from? Which version of the extension do you have? I submitted [version 2.36.4](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.36.4) last night which should fix Disney+ for South Africa, which also uses [www.apps.disneyplus.com](http://www.apps.disneyplus.com/).

[2022-07-06 17:09] PetrusV83 commented on #419
Thanks Richard

Yip, from SA myself. I got ver 2.36.4 for Firefox. I see in the release
notes it says " - Audio muting for Disney+ South Africa".

I removed the custom code for disneyplus and it seems to work now! Amazing!

Thanks again for this awesome extension.

<https://www.avast.com/sig-email?utm_medium=email&utm_source=link&utm_campaign=sig-email&utm_content=webmail>
Virus-free.
www.avast.co

[2022-07-06 17:10] PetrusV83 commented on #419
Thanks Richard

Yip, from SA myself. I got ver 2.36.4 for Firefox. I see in the release notes it says " - Audio muting for Disney+ South Africa".

I removed the custom code for disneyplus and it seems to work now! Amazing!

Thanks again for this awesome extension.

[2022-07-06 17:21] richardfrost commented on #419
You're welcome, Enjoy!

[2022-07-06 17:21] #419 closed

[2022-07-07 22:45] JamieRCHI opened #420 "Spaces ignored when deciding how to censor a word."
#### :bug: Description
With 'omg' censored, 'om g' is  changed to 'xxx'.

#### :twisted_rightwards_arrows: Steps To Reproduce
1. Add 'omg' to the words to be censored.
2. Enable replace with 'xxx'.
3. Refresh this page and look at my comments.

#### :heavy_check_mark: Expected behavior
I should see 'from growing' not 'frxxxrowing'.
I would expect your code to Not ignore spaces on the web page when

[2022-07-08 02:01] #420 closed, assigned to richardfrost

[2022-07-08 02:54] richardfrost commented on #420
No worries @JamieRCHI, thanks for responding. Currently there is not a way to customize which separators or matched, and right now it includes `-`, `_`, and ` `. It isn't always helpful, but in some cases it can be, which is why it is usually off by default. Take care!

[2022-07-18 16:48] richardfrost commented on #323
Hey @tbeag, just wanted to check in with you and see if you had a chance to try the change mentioned above?

[2022-07-18 18:14] tbeag commented on #323
Sorry, I didn’t try for a little bit but it did work!! I was doing way too much on the filter to try and get it to work. I just reset it and did that and it worked. You rock!

Sent from my iPhone

[2022-07-22 15:49] richardfrost opened #422 "HBO Max Audio Muting Broken"
#### :bug: HBO Max Audio Muting Broken

#### :pencil: Additional context
It appears there was an update to their website which has broken the ability for the filter to properly detect captions/subtitles.

[2022-07-23 04:40] richardfrost commented on #323
@tbeag Thanks for getting back to me! Hopefully soon I'll be able to get it working out of the box again.

[2022-07-23 20:03] Elle-Pea commented on #323
I'm having this same issue with HBOMax. It was working at first, but now it's not even filtering the subtitles. I'm trying to get it to filter both the titles and the audio.

I have "Mute audio on supported video sites" selected. My mute method is browser tab. My caption selection is "show only filtered." My mode is Deep. I watched the same movie a few days earlier and muting + filtered captioning

[2022-07-23 20:31] richardfrost commented on #323
@Elle-Pea Thanks for reporting the issue, and including so many details. There was a really big update to the HBO Max website that went live a couple days ago, and it has indeed broken the functionality of APF to work properly on it. Issue #422 is dedicated to solving this issue, and will have any future updates for it, so you might want to take a look at that. I'm hoping that we can get it taken

[2022-07-23 20:35] Elle-Pea commented on #323
Ok, I'll take a look at #422.

[2022-07-23 22:20] richardfrost commented on #422
This isn't a proper fix, but it does seem like it works at a bare minimum:

[code]

Hiding captions likely won't work, and they will flash as well with this, but muting does seem to work.

To test/use this config, copy/paste it into APF's Options page > Audio tab > Custom Sites config (right-side) and then click the blue "Save" button underneath. Don't forget to refresh your HBO Max tab for the ch

[2022-07-25 05:54] hendrikbez commented on #418
Hi Richard

Sorry for replying now, but with all the power  of load shedding, my laptop is very slow, and I could not test disney+, at the moment I did get it to work on Brave and Firefox (YouTube videos) to take out the curse words.

1 South Africa
2 Laptop
3 Brave and Firefox
4 Did get it to work now, I think is is after the new release.
5. Yes it is working, must still test Disney+, will try it

[2022-08-01 20:17] richardfrost commented on #418
@hendrikbez That's okay, thanks for letting me know. I've heard from a few other people that it should be working there in South Africa. But I'll keep this open a bit longer so you can have a chance to test it out. If it gets closed before you have a chance to test it, feel free to respond here still (even when its closed) and I'll still see it.

[2022-08-02 12:11] hendrikbez commented on #418
Hi Richard

Thank you, I have tested it on Disney+ and it is working now.

[2022-08-03 02:15] richardfrost commented on #418
@hendrikbez Thanks for reporting back. I'm glad its working for you now!

[2022-08-03 02:15] #418 closed

[2022-08-03 08:39] Seby68 opened #425 "Raiplay"
_Instructions: This template is written in Markdown. Click the "Preview" tab to see what it will look like when submitted. Fill in the applicable sections (you can erase the examples if you'd like)._

#### :bug: Description
A clear and concise description of what the bug is.

#### :twisted_rightwards_arrows: Steps To Reproduce
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[2022-08-03 08:39] Seby68 commented on #425
Hi Richard, I contacted you to let you know that the rai no longer works. Since it is a GPL V3 program I have modified the files, Script, from the zip file, and uploaded it, but when I reload it, it does not change anything on the rai, it does not update it, it always gives me the one established by youCould you take a look on my email I sent you some screenshots. In addition, why, loading it from

[2022-08-03 08:40] Seby68 commented on #425
Hi Richard, I contacted you to let you know that the rai no longer works. Since it is a GPL V3 program I have modified the files, Script, from the zip file, and uploaded it, but when I reload it, it does not change anything on the rai, it does not update it, it always gives me the one established by youCould you take a look on my email I sent you some screenshots. In addition, why, loading it from

[2022-08-04 22:09] richardfrost commented on #425
Sorry, I haven't had much time to work on the project the last few days. I'm not sure why it might not be updating for you. Did you follow the development steps outlined [here](https://github.com/richardfrost/AdvancedProfanityFilter/wiki/Development)? As long as you are modifying the `.ts` files, running `npm run build` and then pointing the browser to the `dist` folder, and then remembering to re

[2022-08-05 17:48] Seby68 commented on #425
Yes Richard, thanks then I managed to change, all the files, and the raiplay appeared as modified by me and working, until the day before. I had solved this problem. Thanks for your commitment.

[2022-08-06 13:19] Seby68 commented on #425
Hi Richard, today or tomorrow, could you connect with me to fix the raiplay? Thanks.

[2022-08-06 17:53] richardfrost commented on #425
This seems to be working now. I'll update the internal config in the extension with the next version.

[code]

[2022-08-07 05:49] Seby68 commented on #425
Il 06.08.2022 19:53 Richard Frost ha scritto:

working now. I'll update the internal config in the extension with the
next version.

"elementChild",

div.theoplayer-webvtt-region-default",

span",

Very kind. I had tried it too, but was confined by your examples, that
the parentcontrols had to be found in the node.

@github.com>

Voucher MISE per P.IVA e PMI: fino a 2500€ per la Banda Ultralarga.

[2022-08-11 11:43] MikeDash opened #426 "Filtering works, but mute does not"
#### :bug: Description
Advanced Profanity Filter is amazing - thank-you!
It works with almost every site we throw at it.
I have come across a couple of sites where the filtering works, but the muting does not.

#### :twisted_rightwards_arrows: Steps To Reproduce
Default settings in APF
go to ctv.ca
play video
when a word in the list is found it will be substituted but audio will not mute.

I tried

[2022-08-12 03:49] richardfrost commented on #426
Thanks for reporting the issue @MikeDash! I am not familiar with this site, and it doesn't look like its been requested (or supported) before, but I'm always happy to add support for more sites! Good work on figuring out a watcher method that mostly works for the site! I'm working on an overhaul of the watcher method right now, and making some improvements with the hiding/showing that could hopefu

[2022-08-12 15:50] #425 closed

[2022-08-16 06:09] emendoza2 commented on #323
What needs to be done to get this fixed? I am open to making a pull request if the issue is within my skill set to resolve.

[2022-08-16 20:50] winiarnold commented on #426
Richard Frost, I am new to this plug in and would be happy to support this project should I am able to get it to function correctly.
I have downloaded the plugin and created Wordlist etc.  However, audio mute nor word removal is working in Netflix.

Thank you for your help.

Wini Arnold

[2022-08-17 21:30] richardfrost commented on #323
Thanks for the offer @emendoza2. Are you referring to Apple TV, or HBO Max?

[2022-08-17 22:46] richardfrost opened #427 "Netflix not working"
A few questions:

1. Does the filter work on regular text on other websites? A good way to test is to temporarily add a common word to the list so you don't have to test with a word you don't want to see).
2. Did you enable audio muting? (Options page > Audio tab)
3. Does the audio muting work on other websites for you, such as YouTube?
4. Did you make sure to turn on captions/subtitles on Netflix

[2022-08-17 22:47] richardfrost opened #428 "Netflix not working for new user"
A few questions:

1. Does the filter work on regular text on other websites? A good way to test is to temporarily add a common word to the list so you don't have to test with a word you don't want to see).
2. Did you enable audio muting? (Options page > Audio tab)
3. Does the audio muting work on other websites for you, such as YouTube?
4. Did you make sure to turn on captions/subtitles on Netflix

[2022-08-17 22:48] richardfrost commented on #426
Welcome @winiarnold.

I've created an issue for this problem you brought up: #428. Please see it to see some questions I have that will hopefully help us get it working for you.

[2022-08-17 22:48] #427 closed

[2022-08-17 23:03] richardfrost opened #429 "Audio Muting for the Daily Wire"
#### :movie_camera: The Site
www.dailywire.com

#### :pencil: Additional notes
Requested by a user on the Chrome Web Store

[2022-08-17 23:05] richardfrost opened #430 "Black box appears when hiding captions/subtitles on Vudu"
#### :bug: Description
When watching a video on Vudu, there is a small black square that moves around the screen.

#### :pencil: Additional context
Requested by a user on the Chrome Web Store

[2022-08-18 00:45] emendoza2 commented on #323
I'm referring to Apple TV.

[2022-08-18 05:52] richardfrost commented on #429
This config seems to work. I'll get it added to the next version:

[code]

[2022-08-18 05:53] richardfrost commented on #430
I think this Custom Site config should fix the problem:

[code]

If you get around to testing it let me know, but I'll plan on updating it on the next release.

[2022-08-18 05:54] richardfrost commented on #323
@emendoza2 Thanks! I should have a build that fixes it here in the next day or two. If you'd be willing to test it out I'd appreciate it. Let me know if you're interested.

[2022-08-19 13:43] Seby68 opened #431 "Mediaset infinity"
[code]

[2022-08-19 13:45] Seby68 commented on #431
This is the code . Thank you.

[2022-08-19 21:37] #429 closed

[2022-08-19 21:37] #430 closed

[2022-08-19 21:37] #431 closed

[2022-08-19 21:37] #323 closed

[2022-08-19 21:37] #422 closed

[2022-08-20 02:44] richardfrost commented on #431
This is included in [Version 2.37.0](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.37.0). If anyone has a chance to test this out, feel free to reply here to report back how it works for you. Thanks!

[2022-08-20 02:44] richardfrost commented on #430
This is included in [Version 2.37.0](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.37.0). If anyone has a chance to test this out, feel free to reply here to report back how it works for you. Thanks!

[2022-08-20 02:44] richardfrost commented on #429
This is included in [Version 2.37.0](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.37.0). If anyone has a chance to test this out, feel free to reply here to report back how it works for you. Thanks!

[2022-08-20 02:49] richardfrost commented on #323
This is included in [Version 2.37.0](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.37.0). If anyone has a chance to test this out, feel free to reply here to report back how it works for you. Thanks!

**IMPORTANT**: If you were using the "Deep" mode as was recommended above, please switch back to "Normal" mode for Apple TV+. If you really want to keep using Deep mode (not

[2022-08-20 22:18] Jrad337 opened #433 "Extension toggles off immediately"
When I toggle the filter on, it immediately toggles back off. I Tried uninstalling and reinstalling the extension, but to no avail.

[2022-08-20 22:42] richardfrost commented on #433
Can you backup your config and attach it here (Options page > Config tab > Export button)? That will let us be able to see if there is a bug with it.

If you'd rather, you might try resetting back to the default settings (same page as above). Uninstalling and re-installing may preserve your settings depending on your browser.

[2022-09-02 00:39] GameParrot opened #435 "Insane Memory Usage On Safari"
#### :bug: Description
When using the extension, the RAM usage is insanely high, When running the test at https://browserbench.org/JetStream/, it goes over 4 GB with the extension and rarely over 600 MB without the extension.

#### :twisted_rightwards_arrows: Steps To Reproduce
1. Open Activity Monitor and switch to the Memory tab
2. Go to https://browserbench.org/JetStream/
3. Run the test
4. See

[2022-09-07 18:35] elaineroot commented on #426
Hello, I can not seem to get amazon prime to mute a couple phrases I want it to. Could I please get help? Thank you!

[2022-09-07 22:28] richardfrost commented on #426
Hi @elaineroot, I'm sorry it isn't working for you. Could you share an example video where the filtering isn't working, and the approximate time in the video? Is muting working on other words/phrases in the video?

[2022-09-07 22:46] elaineroot commented on #426
sorry season 6 episode 24 around 24 minutes into the video

On Wed, Sep 7, 2022 at 3:28 PM Richard Frost ***@***.***>
wrote:

[2022-09-08 02:51] weidjoe opened #436 "Apple TV+ Not Muting Words"
_The audio on apple.tv+ is not muting curse words.
I followed instructions provided on #323 but nothing worked

There was no muting on any of the shows or movies provided through apple.tv+
[code]

[2022-09-08 03:08] richardfrost commented on #436
@weidjoe thanks for reporting the issue. It looks like there has been a pretty big update to their site's underlying page structure. I've updated the status [here](https://apf.frostco.dev/status) and will update this issue when I have more to report.

[2022-09-08 23:19] richardfrost commented on #436
This custom audio config should at least get muting working again:

[code]

Caveats:
1. Will only mute the first time seeing the captions/subtitles. If you want to re-watch part of the video with muting, you'll need to refresh the page.
2. Caption hiding isn't supported and might break filtering.

I will work to fix those remaining items, but wanted to share this in case someone wanted to use it n

[2022-09-09 22:19] richardfrost commented on #435
After a few tests with this, I don't really think there is anything that I can really do to prevent this. The memory usage appears to come as the its creating hundreds of new documents rapidly, and the browser injects a new instance of APF each time. The easiest fix here would probably be to just disable the extension for the page, because its working as its intended to. Benchmarks definitely push

[2022-09-09 22:29] richardfrost commented on #426
@elaineroot Sorry, what video/series is this? Do you think you could just include a link to it?

[2022-09-10 21:05] RiffyDiffy opened #437 "Randomly toggling off, even though it says that it's on."
This event has happened to me a few days ago, and all I had to do was to uninstall and install the extension to make the bug go away.

I think Jrad337 has the same problem with me, but uninstall and install seems... redundant.

[2022-09-11 18:10] richardfrost commented on #437
Do you have any other details to go along with this? From the description I'm not sure what might be happening. I guess if it comes up again, I would be interested to know if completely restarting the browser (or restarting the computer) had the same effect as reinstalling it. Another question would be if you temporarily disabled the extension and then turned it back on again, does that work to so

[2022-09-15 10:45] GameParrot commented on #435
The extension seems to affect performance when browsing on sites even that are not benchmarks, especially ones with a lot of ads. Maybe disabling the extension on ads/iframes should be an option?

[2022-09-15 15:44] richardfrost commented on #435
@GameParrot That's not a bad idea. I will add it to the backlog to look into that. My first thought is to implement it like the "Domain mode", which controls the overall strategy, and then allow specific domains to change that behavior.

[2022-09-16 08:51] tonyram57 commented on #437
Clearing the cache using a third party utility like CCleaner will break the extension in Chrome and Edge. Firefox is not affected. Also restoring a backup will get the extension to work again.

[2022-09-17 06:18] elaineroot commented on #426
Hello,
    Was wondering if you where able to figure out why it isn’t working. It
is not working on the Heartland series on Amazon prime either. Could it be
because they are hosted by Frevee on Amazon Prime?! Thank you!
      Elaine

On Wed, Sep 7, 2022 at 3:28 PM Richard Frost ***@***.***>
wrote:

[2022-09-18 16:03] Hanhtkpham opened #438 "Netflix app"
Hello,   I wanted to use this on my iPhone but Netflix only let you play video on their app.      Is there a way I can use this filter on Netflix or how does it work exactly.  Only on my monitor?   Can I download the same filter account to the monitor then?   Thank you.

[2022-09-18 16:20] richardfrost commented on #438
Hi @Hanhtkpham, thanks for reaching out! Unfortunately since this is just a browser (Safari) extension, it can only work there. Every streaming platform is a little different, and there are some that don't allow playback on a mobile device in a browser, but require you to use their app. To complicate it further, those requirements vary depending on the country you access from as well. If you can't

[2022-09-28 05:24] richardfrost opened #440 "Tubi TV Muting Not Working"
#### :bug: Tubi TV Muting Not Working
It looks like their site was updated and muting is no longer working.

[2022-09-28 05:27] richardfrost commented on #440
It looks like this updated config works, and unless there are any reported issues I'll include this update in the next version.

[code]

To use this config, paste it into the Custom Sites area (Options page > Audio tab) and click the blue "SAVE" button underneath it. Then, make sure to refresh the tab for the video site (if you have it open still) and it will load this new configuration.

[2022-09-29 03:44] richardfrost commented on #426
HI @elaineroot, sorry for the delay with this. I just tested again and it looks like its working for me. Which Country are you watching from? Also, which web browser are you using? Could you send me a copy of your APF config? You can get it by going to the extension's Options page > Config tab > Export button.

[2022-09-29 04:48] richardfrost opened #441 "Pure Flix"
#### :movie_camera: The Site
https://app.pureflix.com/

#### :speech_balloon: Subtitle Element/Node
- Uses `cues`

#### :pencil: Additional notes
Requested through the Chrome Web Store support page

[2022-09-29 04:50] richardfrost commented on #441
Although its using cues, there seems to be several different ways that they are using them depending on the video. Here is a basic config that worked on several that I tried. If you have a chance to try this config, let me know how it works for you, and if you do run into trouble please let me know which video it is.

[code]

[2022-09-29 06:25] elaineroot commented on #426
Hello,
    No problem! Thank you for looking into it for me! I am From the USA. I
am using microsoft edge. Also, I forgot my password😭 Ao I can’t sign in
now🤦‍♀️ Thank you!
       Elaine

On Wed, Sep 28, 2022 at 8:44 PM Richard Frost ***@***.***>
wrote:

[2022-09-29 06:38] elaineroot commented on #426
I don’t see a place to reset password. Not sure what to do!

On Wed, Sep 28, 2022 at 11:25 PM Elaine Root ***@***.***> wrote:

[2022-09-29 06:40] richardfrost commented on #426
@elaineroot Did you forget your password for the Extension?

[2022-09-29 06:44] elaineroot commented on #426
Yes🤦‍♀️

On Wed, Sep 28, 2022 at 11:40 PM Richard Frost ***@***.***>
wrote:

[2022-09-29 06:49] richardfrost commented on #426
@elaineroot send an email to apf @ frostco.dev (without spaces) and I'll help you recover it.

[2022-10-06 15:11] #440 closed

[2022-10-11 07:07] elaineroot commented on #426
well I don’t know because I was trying it out and seeing if it would take
out the oh my god and oh my lord. So it is amazon prime and as far as I
know I have the settings right so it should. I know it’s doing something
because i turned on the subtitles on prime so it would work and then choose
the option for the subtitles not to show on your add on and they aren’t
showing so it’s definitely connec

[2022-10-13 01:45] #436 closed

[2022-10-21 00:43] Commonman7 opened #449 "Filtering issues"
#### :bug: Description
Has stopped filtering on Crunchyroll

[2022-10-21 04:05] richardfrost commented on #449
It looks like they updated their subtitle language keys to match the beta version of the site. If you want to get it working again now, I recommend either using the Crunchyroll beta site, or you can add the following to your Custom Audio Sites config (Options page > Audio tab):

[code]
_(The only change is videoCueLanguage: `enUS` to `en-US`)_

_If you do  end up using the custom config above, mak

[2022-10-22 00:45] Commonman7 commented on #449
Thank you for your response. I appreciate what you are doing

On Fri, Oct 21, 2022 at 12:05 AM Richard Frost ***@***.***>
wrote:

[2022-10-24 03:37] richardfrost commented on #449
You're welcome @Commonman7. Thanks for reporting the issue. It should now be fixed in version [2.38.1](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.38.1). Let me know how it goes for you, and remember to remove the config posted in the comment above. Thanks!

[2022-10-24 03:37] richardfrost commented on #435
Okay, this option has been added and should now be available in version [2.38.1](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.38.1). Let me know how it goes for you.

[2022-10-24 17:32] richardfrost commented on #438
@Hanhtkpham, I'm going to close this issue, but feel free to respond or re-open if you have any other related questions.

[2022-10-24 17:32] #438 closed

[2022-10-27 00:51] tonyram57 opened #450 "Why is there so much profanity online? Afraid your extention won't work next year."
I am worried with Chrome changing next year your extention won't work anymore. I need it to work. Just read two random articles and they contained profanity which was unexpected but your filter worked completely.

I hear Chrome is making changes in the new year. I know that Firefox is not affected but Firefox mobile does not work with your extensions. I am a bit worried.

[2022-10-27 02:35] richardfrost commented on #450
Yes, there sure is a lot of it out there. With regards to the upcoming Chrome changes next year, are you referring to [Manifest V3](https://developer.chrome.com/blog/mv2-transition/)? If so, APF was updated to Manifest V3 for Chrome-based browsers with version [2.31.0](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.31.0) back in February, so there shouldn't be any loss in f

[2022-10-27 02:38] tonyram57 commented on #450
Thanks great to know. I will play around with Firefox beta.

[2022-10-28 00:30] tonyram57 commented on #450
Also any updates on blocking profanity in images? Just yesterday I saw it twice and today three times on YouTube.

[2022-10-31 19:39] lancelot232 opened #451 "Mac app - macOSVentura"
I have just purchased the Advanced Profanity Filter for Mac. I had previously been using the Chrome extension, but found I couldn’t AirPlay to my Apple TV in full screen to watch the content, thus my purchase in the App Store.
Well, I set all setting the exact same as Chrome with no luck of any filtering. I then modified a number of different ways, again no success.
What information is needed to p

[2022-10-31 21:54] richardfrost commented on #451
Hi @lancelot232, unfortunately I haven't tried using it with Air play, so I can't speak specifically to if that will work. I will try to test it out in the next few days, but in the meantime I'm happy to approve a refund.

If you would like to troubleshoot it more though, does it work in Safari (not air play)?

[2022-10-31 22:11] lancelot232 commented on #451
Let’s troubleshoot before a refund.

It has not worked in Safari on the Apple TV website. I have been meaning to test on another site, but haven’t had the chance. Apple TV is the site we will use the extension on though.

Lance
On Oct 31, 2022 at 3:54 PM -0600, Richard Frost ***@***.***>, wrote:

[2022-10-31 23:16] richardfrost commented on #451
- Could you test it on YouTube (or another site) quick and see if its working?
- Did you import the config file from Chrome into Safari, or just copy the settings manually?
- On Apple TV, is it filtering the captions, but not muting?

[2022-11-01 23:26] richardfrost commented on #451
I need to do some more work on it, but I can confirm the extension isn't working correctly on Apple TV+ in Safari. It appears they are serving the captions differently than they do for Chrome, so I'll need to make some adjustments to it, but I do think I'll be able to get it working there soon. Again, if you can test with something else like Netflix, YouTube, etc. it would be nice to know if that'

[2022-11-02 00:06] lancelot232 commented on #451
On it, I’ll do some more testing. Thanks for your support!

Lance
On Nov 1, 2022 at 5:26 PM -0600, Richard Frost ***@***.***>, wrote:

[2022-11-02 00:22] lancelot232 commented on #451
Also, on the latest app release,2.38.1, in the App Store it states the following “Updates for muting sites: Apple TV+...”
My question is how do you open the website for Apple TV+, tv.apple.com, in safari? Every time I do it opens the Apple TV app. Even if I remove the Apple TV app, it opens a tab that is trying to redirect me to the app. I haven’t found any successful methods. What have you done t

[2022-11-02 00:33] lancelot232 commented on #451
I also get this when removing the Apple TV app.

Lance
On Nov 1, 2022 at 5:26 PM -0600, Richard Frost ***@***.***>, wrote:

[2022-11-02 00:34] lancelot232 commented on #451
Sorry, I forgot the image.

Lance
On Nov 1, 2022 at 5:26 PM -0600, Richard Frost ***@***.***>, wrote:

[2022-11-02 03:14] richardfrost commented on #451
@lancelot232 Are you testing this on iOS, or macOS? Which device(s)?

[2022-11-02 04:47] richardfrost opened #452 "Peacock Muting Not Working"
#### :bug: Description
Muting is no longer working on Peacock.

#### :pencil: Additional context
Reported by @WolfD1g1tal

[2022-11-02 04:50] richardfrost commented on #452
It looks like Peacock has updated their site captions. I think I have worked out the updates and will get it included in the next version of APF, but here is the new config if you'd like to test it out.

[code]

To use this config, paste it into the Custom Sites area (Options page > Audio tab) and click the blue "SAVE" button underneath it. Then, make sure to refresh the tab for the video site (if

[2022-11-02 05:06] #450 closed

[2022-11-02 05:23] lancelot232 commented on #451
Both

Lance
On Nov 1, 2022 at 9:14 PM -0600, Richard Frost ***@***.***>, wrote:

[2022-11-02 09:23] WolfD1g1tal commented on #452
You sir are a steely eyed missile  man. She went green soon as I reloaded and set cc on. I will holler back in a day or two after I’ve watched some different things on different sections of the site.
I am so grateful you got back so quick. Thank You!

Sent from Mail<https://go.microsoft.com/fwlink/?LinkId=550986> for Windows

From: Richard ***@***.***>
Sent: Wednesday, November 2, 2022 12:50 AM
To

[2022-11-02 23:34] richardfrost commented on #450
@tonyram57 Did you have a chance to try APF the Firefox beta? Just curious how it worked.

[2022-11-03 04:34] richardfrost commented on #452
@WolfD1g1tal lol, thanks! I'm glad I was able to hopefully fix it soon. In the meantime, I've updated the [Supported Sites Status Page](https://apf.frostco.dev/status) to reflect that its not currently working. Let me know how your experience goes and if you give it the go-ahead I'll include it in a new update soon. Thanks again for reporting the issue!

[2022-11-03 04:40] richardfrost commented on #451
@lancelot232 When you were describing the issue with it opening the app for Apple TV+, I'm guessing that's on an iOS device? I haven't seen that behavior on macOS. Unfortunately I haven't found a good workaround when a service insists on using a native app, so there may not be a workaround in that case. To make things more complicated, a lot of services have different policies based on the specifi

[2022-11-03 04:59] lancelot232 commented on #451
Excellent!! Thanks Richard. I’ve been planning on doing further testing on different sights but haven’t had the time.
In the meantime I’ll look forward to the test on Apple TV+ for macOS tomorrow.

Lance
On Nov 2, 2022 at 10:40 PM -0600, Richard Frost ***@***.***>, wrote:

[2022-11-04 22:45] tonyram57 commented on #450
I tried but it's too confusing.

[2022-11-08 05:18] richardfrost commented on #451
Sorry for the delay on this. Life got really busy the last few days.

Can you give this a try on macOS?

[code]

To use this config, paste it into the Custom Sites area (Options page > Audio tab) and click the blue "SAVE" button underneath it. Then, make sure to refresh the tab for the video site (if you have it open still) and it will load this new configuration.

_For best results, make sure to

[2022-11-10 20:19] wunderlong88 opened #454 "Questions concerning using this filter with Plex or other media player on computer"
I have been trying to understand how your filter works and wondering if it has the ability to be used on a movie playing through Plex or other media player on my pc?  I can play the movie in Plex in Chrome.  Would this filter work for that?

Thank you!

[2022-11-10 20:57] richardfrost commented on #454
Hi @wunderlong88, it does work on many media players that offer a web interface, including Plex. It does require the captions/subtitles to be available though, so you will need to ensure they are available and match up correctly with the video. Here is the [list of supported sites](https://apf.frostco.dev/status), and more are being added. If you see one you'd like to  see supported just let me kn

[2022-11-11 00:17] richardfrost commented on #451
@lancelot232 Just wanted to make sure you saw the last message, since I forgot to tag you in it. No rush if you did already see it.

[2022-11-11 06:12] richardfrost opened #455 "Shudder"
#### :movie_camera: The Site
www.shudder.com

#### :speech_balloon: Subtitle Element/Node
_Example:_
[code]

#### :pencil: Additional notes
Requested by @WolfD1g1tal

[2022-11-11 06:13] richardfrost commented on #455
This seems to work for both movies and shows:

[code]

I'll get this added in the next release.

[2022-11-11 06:14] richardfrost opened #456 "Movies Anywhere"
_Instructions: This template is written in Markdown. Click the "Preview" tab to see what it will look like when submitted. Fill in the applicable sections (you can erase the examples if you'd like). For more information, please see [this page](https://github.com/richardfrost/AdvancedProfanityFilter/wiki/New-Audio-Muting-Site)._

#### :movie_camera: The Site
[moviesanywhere.com](https://moviesanywh

[2022-11-11 06:16] richardfrost commented on #456
After testing on several titles this config seems to work well:

[code]

To use this config, paste it into the Custom Sites area (Options page > Audio tab) and click the blue "SAVE" button underneath it. Then, make sure to refresh the tab for the video site (if you have it open still) and it will load this new configuration.

For best results, make sure to remove any custom config used for testing

[2022-11-11 06:17] lancelot232 commented on #451
Hey! So sorry I didn’t respond. I haven’t had the time myself. Thanks for the follow-up. I’ll keep you posted. I’m going to try it tomorrow.

Lance
On Nov 10, 2022 at 5:17 PM -0700, Richard Frost ***@***.***>, wrote:

[2022-11-11 06:22] richardfrost opened #457 "Podscribe"
#### :movie_camera: The Site
[app.podscribe.ai](https://app.podscribe.ai/)

#### :speech_balloon: Subtitle Element/Node
_Example:_
[code]

#### :pencil: Additional notes
This site has transcripts of podcasts. Although these aren't videos and captions, it would still be useful for listening.

[2022-11-11 06:26] richardfrost commented on #457
This isn't finished yet, but I do think I got something working that we can build from. To test it, follow these steps:

1. Add this custom audio config:
[code]
    - _To use this config, paste it into the Custom Sites area (Options page > Audio tab) and click the blue "SAVE" button underneath it. Then, make sure to refresh the tab for the video site (if you have it open still) and it will load th

[2022-11-11 08:04] lancelot232 commented on #451
It worked beautifully!!!

[2022-11-14 04:03] richardfrost commented on #451
This has been included in [version 2.39.0](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.39.0). Feel free to comment here if you have any feedback for this update.

[2022-11-14 04:03] richardfrost commented on #455
This has been included in [version 2.39.0](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.39.0). Feel free to comment here if you have any feedback for this update.

[2022-11-14 04:03] richardfrost commented on #456
This has been included in [version 2.39.0](https://github.com/richardfrost/AdvancedProfanityFilter/releases/tag/2.39.0). Feel free to comment here if you have any feedback for this update.

[2022-11-14 05:19] #456 closed

[2022-11-14 05:19] #455 closed

[2022-11-17 17:11] Seby68 opened #459 "Paramountplus"
Hi Richard, I hope you are well. I wanted to ask you a question, I subscribed to Paramount Plus and here in Italy, with the PC I can't see it in HD or full HD. Since you can use Advanced profanity filter only on the PC, do you know if it's a problem that you also have in America? Many thanks.

[2022-11-18 17:48] richardfrost commented on #459
From what I can tell, they adjust the playback quality automatically based on your network connection (and possibly the load they are having at the time). I don't see anywhere that shows what the current quality is, or to adjust it.

[Reference](https://help.paramountplus.com/s/article/PD-Are-shows-available-in-HD-with-Paramount)

[Reference](https://help.paramountplus.com/s/article/PD-Which-video

[2022-11-18 17:48] #459 closed

[2022-11-19 15:18] Seby68 opened #460 "Paramount unmute Delay"
Hi Rochard , I tried to lengthen the silence time on paramountplus , but to no avail . I added " unmute Delay " : 5000 , without result. Can you give me the solution?

[2022-11-19 15:36] Seby68 commented on #460
Problem solved, thanks.

[2022-11-19 15:36] #460 closed

[2022-11-19 16:52] richardfrost commented on #460
Glad you got this sorted out @Seby68. Thanks!

[2022-11-26 13:42] Kcirezmai opened #461 "Browser Audio Censoring Not Working"
Hello,

I hope all is well. I’ve purchased the APF app and I am unable to get it to work. Please help.

Helpful information:

1. iPad Pro 2020 model running iOS 16.1.1
2. Safari browser
3. Netflix and Amazon Prime Video
4. Followed all the instructions in the help file
5. Works on the closed captioning
6. Desktop version works very well after some tweaks

Thank you for such a great tool.

[2022-11-26 22:08] richardfrost commented on #461
Hi @Kcirezmai,

I'll see if I can get my hands on an iPad Pro to test with today, but if not I can probably use a simulator.

In the meantime I have a couple questions:
- Which country are you accessing from? Several of the streaming services have different capabilities/limitations based on where its being streamed from.
- Do any other sites work? YouTube might be the easiest to confirm with. Also